<!doctype html>
<html>

<head>
<title>Best of Bronze</title>
<link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>

<body style="margin:3em 0px 0px 0px">

<div class="mainPage">

<center>
<a href="/" class="headButton">Home</a>
<a href="/db/read-database" class="headButton">Re-read Database</a>
<a href="/db/shuffle-library" class="headButton">Shuffle Library</a>
<a href="/db/print-database" class="headButton">Database Info</a>
</center>

<hr class="fancy">

<center> <h1 class="text">Find a game to watch</h1></center>
<center>
<form action="/db/find-game" method="get">
  <table>
  <tr>
  <td><center><div class="text">Time played (m)</div></center></td> 
  <td rowspan="2"> <input type="submit" class="headButton"/> </td> 
  </tr>
  <tr>
  <td> <input type="text" name="timePlayed"/> </td>
  </tr>
  </table>
</form>
</center>

<hr class="fancy">

<center> <h1 class="text">Add summoner to database by name</h1></center>
<center>
<form action="/action/addSummonerByName" method="get">
  <table>
  <tr>
  <td><div class="text">Summoner Name</div></td><td><div class="text">League (e.g B5)</div></td><td rowspan="2"> <input type="submit" class="headButton"/> </td> 
  </tr>
  <tr>
  <td> <input type="text" name="name"/></td><td> <input type="text" name="tier"/></td>
  </tr>
  </table>
</form>
</center>

<hr class="fancy">

<h2 class="text"> Messages: </h2>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li class="text">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}

<hr class="fancy">

<center>
<h1 class="text">Populate Database </h1>
<form action="/db/populate" method="get">
  <table>
  <tr>
  <td><center><div class="text">Summoner Name</div></center></td> 
  <td rowspan="2"> <input type="submit" class="headButton"/> </td> 
  </tr>
  <tr>
  <td> <input type="text" name="summonerName"/> </td>
  </tr>
  </table>
</form>

<br>
<hr class="fancy">

<a href="/static/update" class="headButton">Update</a>
</center>

</div>

</body>

</html>
