<!doctype html>
<html>

<head>
<title>Best of Bronze</title>
</head>

<body>

<center> Menu </center>

<a href="/">Index</a>
<a href="/db/read-database">Re-read Database</a>
<a href="/db/shuffle-library">Shuffle Library</a>
<a href="/db/print-database">Print Database</a>
<a href="/db/find-game">Find Game</a>

<hr>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      {{ message }} <br>
    {% endfor %}
  {% endif %}
{% endwith %}

</body>

</html>
