 <!doctype html>
<html>

<head>
<title>Best of Bronze</title>
<link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>

<body style="margin:3em 0px 0px 0px">

<div class="mainPage">

<center>
<a href="/" class="headButton">Home</a>
<a href="/db/read-database" class="headButton">Re-read Database</a>
<a href="/db/shuffle-library" class="headButton">Shuffle Library</a>
<a href="/db/print-database" class="headButton">Database Info</a>
</center>

<hr class="fancy">

<center>
<h3 class="text">To continue search, press F5</h3>
</center>

<hr class="fancy">
<center>
<table>

<tr><td colspan="10"><center><h2 class="text">Time Played: {{ ingameTime }} minutes</h2></center> </td> </tr>
{% for i in range(5) %}
  <tr>
  <td><div class="text"></div>{{ summoners[i]["summonerId"] }}</td>
  <td><h2 class="text" align="right">{{ summoners[i]["summonerName"] }}</h2></td><td bgcolor="black">
  <img src={{ summoners[i]["ddlink"] }}>
  </td><td> 
  <img src={{ summoners[i]["spellLinks"][0] }}> </td><td style="border-right: 2px solid black"> <img src={{ summoners[i]["spellLinks"][1] }}> </td>

  <td style="border-left: 2px solid black"> 
  <img src={{ summoners[i+5]["spellLinks"][0] }}> </td><td> <img src={{ summoners[i+5]["spellLinks"][1] }}> </td><td bgcolor="black">
  <img src={{ summoners[i+5]["ddlink"] }}>
  </td><td><h2 class="text">{{ summoners[i+5]["summonerName"]}}</h2></td>
  <td><div class="text"></div>{{ summoners[i+5]["summonerId"] }}</td>
  </tr>
{% endfor %}
</table>
<hr class="fancy">
<h3 class="text">The spectator string is also in your clipboard.</h3>
<form>
<div style="padding: 0.5em">
<input type="text" onClick="this.select();" value ="{{ spectatorString }}" style="width: 100%" readonly>
</div>
</form>
</center>

<hr class="fancy">

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li class="text">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
{% block body %}{% endblock %}

</div>

</body>

</html>
